.btn {
	color: white;
	border: none;
	border-radius: 0.5rem;
	padding: 0.7rem 1.5rem;
	font-size: calc(5px + 1vmin);
	cursor: pointer;
}

.green {
	background-color: #4caf50;
}

.green:hover {
	background-color: #45a049;
}

.blue {
	background-color: #2196f3;
}

.blue:hover {
	background-color: #1e87db;
}

.red {
	background-color: #f44336;
}

.red:hover {
	background-color: #da190b;
}
