table {
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}

th {
	padding: 1rem;
}

td {
	padding: 1rem;
}

tr:first-child th:first-child {
	border-top-left-radius: 10px;
}
tr:first-child th:last-child {
	border-top-right-radius: 10px;
}

tr:last-child td:first-child {
	border-bottom-left-radius: 10px;
}
tr:last-child td:last-child {
	border-bottom-right-radius: 10px;
}

.thead {
	background-color: #000000;
	color: white;
}

.tbody {
	text-align: center;
}

.gold {
	background-color: #ffd700;
}

.silver {
	background-color: #c0c0c0;
}

.bronze {
	background-color: #daaf84;
}

.other {
	background-color: #f0f0f0;
}

.other:nth-child(2n) {
	background-color: #e0e0e0;
}
