.table {
	border-radius: 1rem;
	width: 100%;
}

.thead {
	border-top-left-radius: 1rem;
	border-top-right-radius: 1rem;
	background-color: #bccff5;
	color: white;
}

.tbody {
	text-align: center;
}

.th {
	padding: 1rem;
}
